<mat-form-field>
  <mat-label>Phone number</mat-label>
  <fs-phone-field [(ngModel)]="model" [allowNumberExt]="true" [required]="true"></fs-phone-field>
  <mat-hint>enter your phone number</mat-hint>
</mat-form-field>

<fieldset class="input-fieldset">
  <legend>Input Value</legend>
  {{ input }}
</fieldset>

<fieldset class="input-fieldset">
  <legend>Output Value</legend>
  {{ model|json }}
</fieldset>

<fieldset class="input-fieldset">
  <legend>Formatted Value</legend>
  {{ model | fsPhone }}
</fieldset>
