<mat-form-field>
  <mat-label>
    Phone number
  </mat-label>
  <input
    matInput
    fsPhoneField
    [(ngModel)]="model"
    (ngModelChange)="changed($event)"
    name="test">
  <mat-hint>
    enter your phone number
  </mat-hint>
</mat-form-field>
<fieldset class="input-fieldset">
  <legend>
    Model Value (E.164 Format)
  </legend>
  {{ model }}
</fieldset>
<fieldset class="input-fieldset">
  <legend>
    Formatted (Human Readable)
  </legend>
  {{ model | fsPhone }}
</fieldset>
<fieldset class="input-fieldset">
  <legend>
    Formatted (International E.164 Format)
  </legend>
  {{ model | fsPhone:'E164' }}
</fieldset>
<fieldset class="input-fieldset">
  <legend>
    Formatted (International E.123 Format)
  </legend>
  {{ model | fsPhone:'E123' }}
</fieldset>