<ng-container *fsSkeleton="ready$ | async; pattern: [100]">
  <div class="phone-group" role="group"
       [class.with-emoji]="emojiSupported"
       (focusin)="onFocusIn($event)"
       (focusout)="onFocusOut($event)">
    <mat-select
        class="phone-code"
        (opened)="countrySelectOpened()"
        (selectionChange)="countrySelectionChange()"
        [formControl]="countryControl"
        tabindex="-1"
        panelClass="fs-phone-country-pane"
        #countryInput>
      <mat-select-trigger>
        <fs-country-phone-code
          [code]="countryControl.value"
          [showCode]="false">
        </fs-country-phone-code>
      </mat-select-trigger>

      <ng-container *ngFor="let country of countries$ | async">
        <mat-option
            *ngIf="!!country.countryCode"
            [value]="country.isoCode">
          {{ country.name }}
          <span class="fs-phone-country-code">&nbsp;+{{ country.countryCode }}&nbsp;</span>
          <fs-country-flag
            class="fs-phone-country-flag"
            [code]="country.isoCode">
          </fs-country-flag>
        </mat-option>
      </ng-container>
    </mat-select>

    <ng-container [formGroup]="phoneNumberParts">
      <span class="code" [class.disabled]="disabled">{{codeValue}}</span>
      <input
        class="phone-number"
        matInput
        [name]="name"
        placeholder="Phone"
        [autocomplete]="autocomplete"
        formControlName="number"
        (keyup)="phoneKeyup($event)"
        (keydown)="phoneKeydown($event)"
        (keypress)="phoneKeypress($event)"
        (paste)="phonePaste()"
        (blur)="phoneFormat()"
        #phoneNumberInput>

      <ng-container *ngIf="allowNumberExt && extPrefix">
        <span class="ext-text">{{ extPrefix }}</span>
        <input
          #extNumberInput
          (keyup)="extKeyup($event)"
          (keydown)="extKeydown($event)"
          class="ext-number"
          matInput
          placeholder="xxx"
          formControlName="ext"
          [name]="name + '-ext'">
      </ng-container>
    </ng-container>
  </div>
</ng-container>
