<fs-examples [config]="config">

  <fs-example name="Phone Input with String Input" componentName="phone-input-with-string">
    <phone-input-with-string></phone-input-with-string>
  </fs-example>

  <fs-example name="Phone Input with String Output" componentName="phone-input-with-string-mode">
    <phone-input-with-string-mode></phone-input-with-string-mode>
  </fs-example>
  
  <fs-example name="Phone Input with Object Input" componentName="phone-input-with-object">
    <phone-input-with-object></phone-input-with-object>
  </fs-example>

  <fs-example name="Phone Display Options" componentName="phone-display">
    <phone-display></phone-display>
  </fs-example>

  <fs-example name="Simple Phone Input" componentName="first-example">
    <first-example></first-example>
  </fs-example>

</fs-examples>
