<ng-container *fsSkeleton="ready$ | async; pattern: [100]">
  <div class="phone-group" role="group" [class.with-emoji]="emojiSupported">
    <mat-select class="phone-code"
                placeholder="Code"
                [formControl]="countryControl"
                panelClass="fs-phone__country"
                #countryInput>
      <mat-select-trigger>
        <fs-country-phone-code [code]="countryControl.value" [text]="false"></fs-country-phone-code>
      </mat-select-trigger>

      <ng-container *ngFor="let country of countries$ | async">
        <mat-option *ngIf="!!country.countryCode"
                    [value]="country.isoCode">
          {{ country.name }} +{{ country.countryCode }}
          <fs-country-flag class="fs-phone__country_flag"
                                 [code]="country.isoCode">
          </fs-country-flag>
        </mat-option>
      </ng-container>
    </mat-select>

    <ng-container [formGroup]="phoneNumberParts">

      {{codeValue}}

      <input class="phone-number"
             matInput
             placeholder="Phone"
             formControlName="number"
             maxlength="15"
             #phoneNumberInput>

      <ng-container *ngIf="allowNumberExt && extPrefix">
        <span>{{ extPrefix }}</span>

        <input class="ext-number" matInput placeholder="xxx" formControlName="ext" maxlength="5">
      </ng-container>
    </ng-container>
  </div>
</ng-container>
