:host {
  display: block;
  width: 200px;

  &.with-number-extention {
    width: 270px;
  }
}

::ng-deep {
  .fs-phone__country {
    .mat-option-text {
      display: inline-flex;

      .fs-phone__country_flag {
        margin-right: 5px;
        order: -1;
      }
    }
  }
}

.phone-group {
  display: flex;
  align-items: baseline;

  .phone-code {
    min-width: 75px;
    width: auto;
  }

  .phone-number {
    width: 110px;
    min-width: 110px;
    margin-left: 10px;
  }

  .ext-number {
    margin-left: 5px;
  }
}

:host(:not(.floating)) {
  ::ng-deep {
    .mat-select-arrow-wrapper .mat-select-arrow {
      opacity: 0 !important;
    }
  }
}
