<ng-container *fsSkeleton="ready$ | async; pattern: [100]">
  <div class="phone-group" role="group" [class.with-emoji]="emojiSupported">
    <mat-select
        class="phone-code"
        [formControl]="countryControl"
        tabindex="-1"
        panelClass="fs-phone-country-pane"
        #countryInput>
      <mat-select-trigger>
        <fs-country-phone-code [code]="countryControl.value" [showCode]="false"></fs-country-phone-code>
      </mat-select-trigger>

      <ng-container *ngFor="let country of countries$ | async">
        <mat-option 
            *ngIf="!!country.countryCode"
            [value]="country.isoCode">
          <fs-country-flag
            class="fs-phone-country-flag"
            [code]="country.isoCode">
          </fs-country-flag>
          +{{ country.countryCode }} {{ country.name }}
        </mat-option>
      </ng-container>
    </mat-select>

    <ng-container [formGroup]="phoneNumberParts">
      <span class="code">{{codeValue}}</span>
      <input
        class="phone-number"
        matInput
        placeholder="Phone"
        formControlName="number"
        maxlength="15"
        #phoneNumberInput>

      <ng-container *ngIf="allowNumberExt && extPrefix">
        <span>{{ extPrefix }}</span>
        <input class="ext-number" matInput placeholder="xxx" formControlName="ext" maxlength="5">
      </ng-container>
    </ng-container>
  </div>
</ng-container>
