:host {
  display: block;
  width: auto;
}

::ng-deep {
  .mat-select-value {
    //color: transparent;
  }

  mat-select-trigger {
    position: relative;

    fs-country-phone-code {
      position: relative;
      top: 1px;
    }
  }

  input.mat-input-element {
    margin-top: 0;
  }
}

.code {
  margin-right: 2px;
}


.phone-group {
  &.with-emoji {
    align-items: baseline;
  }

  display: flex;
  align-items: center;

  .phone-code {
    min-width: 38px;
    width: auto;
  }

  .phone-num
  ber {
    width: 110px;
    min-width: 110px;
    margin-left: 4px;
  }

  .ext-number {
    margin-left: 5px;
    width: 50px;
  }
}

:host(:not(.floating)) {
  ::ng-deep {
    .mat-select-arrow-wrapper .mat-select-arrow {
      opacity: 0 !important;
    }
  }
}
